<!DOCTYPE html>
<html>
  <head>
    <!--<title>Súillin Opticians</title> CHECK THIS LATER-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Suillin Opticians" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Suillin Opticians" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
    <div
	    <div class="container" id="logobar">
		    <div class="row">
		      	<div>
							<img style="float:left" src="/assets/logo.png" alt="Súillin Opticians Logo" width="330px"/>
						</div>
		    </div>
			</div>
			
	    <%= yield %>
	
			<footer>
				<%= render 'layouts/footer' %>
			</footer>
		</div>
	</body>
</html>